:root{
    --mainTextColor:#fff;
    --secondaryTextColor:#ffffff70;
}

.appContainer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputField{
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: var(--mainTextColor);
    text-align: center;
    margin-bottom: 20px;
}
.inputField:focus{
    outline:none;
}
.errorInput{
    border:1px solid red;
}
.okInput{
    border-bottom: 1px solid green;
}
.errorContainer{
    color: var(--secondaryTextColor)
}
.infoContainer{
    color: var(--secondaryTextColor)
}
.infoContainer img{
    display: block;
    margin: 10px auto 0;
}
.searchText,
.tempText,
.timeText{
    color: var(--mainTextColor)
}
